<?xml version="1.0"?>
<robot name="six_legged_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include robot links -->
    <!-- Define whether to use simplified meshes -->
    <xacro:arg name="simplify_meshes" default="true" />
    <xacro:property name="simplify_meshes" value="$(arg simplify_meshes)" />
    <xacro:include filename="$(find six_legged_robot_description)/urdf/macros/links.xacro" />

    <!-- Include robot joints -->
    <!-- Define whether to use joint dynamics. In this package it doesnt matter -->
    <xacro:arg name="use_joint_dynamics" default="true" />
    <xacro:property name="use_joint_dynamics" value="$(arg use_joint_dynamics)" />
    <xacro:include filename="$(find six_legged_robot_description)/urdf/macros/joints.xacro" />

</robot>