<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find six_legged_robot_description)/urdf/macros/joint_components.xacro" />

    <joint name="dummy_joint" type="fixed">
        <parent link="dummy_link" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <xacro:hip_joint suffix="_1" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_1" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_1" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_1" />

    <xacro:hip_joint suffix="_2" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_2" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_2" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_2" />

    <xacro:hip_joint suffix="_3" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_3" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_3" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_3" />

    <xacro:hip_joint suffix="_4" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_4" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_4" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_4" />

    <xacro:hip_joint suffix="_5" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_5" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_5" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_5" />

    <xacro:hip_joint suffix="_6" use_joint_dynamics="${use_joint_dynamics}"/>
    <xacro:femur_joint suffix="_6" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:tibia_joint suffix="_6" use_joint_dynamics="${use_joint_dynamics}" />
    <xacro:foot_tip_joint suffix="_6" />

</robot>