<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find six_legged_robot_description)/urdf/macros/link_components.xacro" />

    <link name="dummy_link" />

    <xacro:base_link simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_1" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_1" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_1" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_1" simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_2" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_2" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_2" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_2" simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_3" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_3" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_3" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_3" simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_4" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_4" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_4" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_4" simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_5" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_5" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_5" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_5" simplify_meshes="${simplify_meshes}" />

    <xacro:hip_link suffix="_6" simplify_meshes="${simplify_meshes}" />
    <xacro:femur_link suffix="_6" simplify_meshes="${simplify_meshes}" />
    <xacro:tibia_link suffix="_6" simplify_meshes="${simplify_meshes}" />
    <xacro:foot_tip_link suffix="_6" simplify_meshes="${simplify_meshes}" />

</robot>